@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  overflow: hidden;
  background: url(./img/covid-vaccine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body::after {
  content: "";
  background: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

h1 {
  font-size: 50px;
  margin: 0px 20px 30px 20px;
}

.countdown {
  visibility: hidden;
  display: flex;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

.time {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.time .value {
  font-size: 50px;
  font-weight: bold;
}

.time .unit {
  font-size: 16px;
}

small {
  margin-top: 5px;
}

.seconds {
  animation: pulse 1s linear infinite;
  animation-delay: 200ms;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 10px;
  position: absolute;
  top: 50%;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}

/* media */
@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }

  .time {
    margin-bottom: 5px;

  }

  .time .value {
    font-size: 35px;
    font-weight: bold;
  }
  
  .time .unit {
    font-size: 16px;
  }
  
  .countdown {
    display: block;
  }
  body {
    background: url(./img/covid-vaccine2.jpg);
    background-position: center;
    background-size: cover;
  }
}
