@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;
}

/* spinner */

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* body */

body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  overflow: hidden;
  background: url(./img/covid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body::after {
  content: "";
  background: black;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

h1 {
  font-size: 50px;
  margin: -40px 20px 30px 20px;
}

.countdown {
  display: flex;
  font-size: 30px;
}

.time {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

small {
  margin-top: 10px;
}

.year {
  font-size: 200px;
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  top: 600px;
}
